.home {
  display: flex;
  justify-content: "center";
  align-items: "center";
  height: "90vh";
}
.bodyContainer {
  background-color: rgb(172, 172, 172);
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 84vh;
  justify-content: space-between;
}

.list {
  align-items: center;
}
